__pycache__/
*.py[cod]
*.so
.venv/
env/
venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
artifacts/
models/checkpoints/
models/saved_model/
logs/
*.tfrecord
.vscode/
.idea/
.DS_Store
Thumbs.db
.streamlit/
*.log
*.mp4
*.avi
*.mov
